<div class="modal fade" id="common-modal" tabindex="-1" role="dialog"  aria-labelledby="all-purpose-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <!-- title will be inserted -->
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
      <div class="modal-body">
        <!-- content will be inserted -->
      </div>
    </div>
  </div>
</div>