.gradient {
  background-image: linear-gradient(to right bottom, #007bff, violet);
}

.error {
  color: #e83e8c;
}

.side-nav {
  height: 100vh;
}

.avatar-circle {
  margin-right: 10px;
  border:solid 1px #e83e8c;
}
